*{
    font-family: 'Montserrat', sans-serif;
}
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.829) 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .get_started_button{
      outline: none;
      border: #00BFE3 1px solid;
      background: transparent;
      padding: 15px 30px;
      color: #00E1D6;
      font-size: 150%;
      text-decoration: none;
  }
  .get_started_button:hover{
      background: #00768d;
      transition: 0.3s;
      color: white;
  }